<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Made by</span>
    <a
      b-slate-link
      href="https://xuejingpan.github.io/" target="_blank"
    >
      xuejingpan
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://github.com/xuejingpan/xjp-chatgpt" target="_blank"
    >
      Source Code
    </a>
  </p>
</footer>
